<form action="/addmobile" method="post">
    <input type="text" name="brand" placeholder="Enter Brand Name">
    <input type="text" name="mobile" placeholder="Enter Mobile Name">
    <input type="number" name="camera" placeholder="Enter camera megapixel">
    <input type="number" name="ram" placeholder="Enter RAM">
    <input type="number" name="storage" placeholder="Enter Storage">
    <button type="submit">Submit</button>
</form>